.footerContainer {
  flex-shrink: 0;
  background-color: #e3e3e3;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  bottom: 0;
  z-index: 15;
}

.followContainer,
.policyContainer,
.copyrightContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.copyrightContainer {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
}

.links {
  text-decoration: none;
  color: #000;
}

.logo {
  height: 50px;
  width: 150px;
  object-fit: contain;
}
