/* .caContainer {
  height: calc(100vh - 160px);
} */

.chartContainer {
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  margin-right: 0;
  /* width: 100%; */
  border-radius: 4px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.114);
  height: 85%;
  width: 94%;
}
